<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>质量管控报告</title>
    <link rel="stylesheet" href="./css/index.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="icon" href="https://avatars1.githubusercontent.com/u/34183279?s=16">
</head>

<body>
    <div class="main">
        <h1>—— 翻译质量检查报告 ——</h1>
        <h2 id="time">
            <i class="fa fa-calendar"></i> {{ new Date(times.time).toLocaleString() }}</h2>

        <div class="sub">
            <h2>— 格式符检查 —</h2>
            <details id="format">
                <summary>点击展开，共 {{ formats.length }} 条</summary>
                <table cellspacing="0">
                    <tr>
                        <th style="width:3%">编号</th>
                        <th style="width:8%">模组ID</th>
                        <th style="width:10%">key</th>
                        <th>英文文本</th>
                        <th>中文文本</th>
                        <th style="width:8%">Weblate</th>
                    </tr>
                    <tr v-for="(format, index) in formats">
                        <td style="width:3%">{{ index + 1 }}</td>
                        <td style="width:8%">{{ format.modid }}</td>
                        <td style="width:10%">{{ format.key }}</td>
                        <td>{{ format.en_us }}</td>
                        <td>{{ format.zh_cn }}</td>
                        <td style="width:8%">
                            <a :href="'https://weblate.sayori.pw/translate/langpack/' + format.modid + '/zh_cn/?q=' + encodeURI(format.key) + '&context=on'">[点击进入]</a>
                        </td>
                    </tr>
                </table>
            </details>
        </div>

        <div class="sub">
            <h2>— 重名key检查 —</h2>
            <details id="duplicate">
                <summary>点击展开，共 {{ duplicates.length }} 条</summary>
                <table cellspacing="0">
                    <tr>
                        <th style="width:3%">编号</th>
                        <th style="width:10%">key</th>
                        <th style="width:8%">模组ID</th>
                        <th>英文文本</th>
                        <th>中文文本</th>
                        <th style="width:8%">Weblate</th>
                    </tr>
                    <template v-for="(value, index) in duplicates">
                    <tr>
                        <td style="width:3%" :rowspan="value.items.length + 1">{{ index + 1 }}</td>
                        <td style="width:10%" :rowspan="value.items.length + 1">{{ value.key }}</td>
                    </tr>
                    <template v-for="(v, i) in value.items">
                        <tr>
                            <td style="width:8%">{{ v.mod }}</td>
                            <td>{{ v.en_us }}</td>
                            <td>{{ v.zh_cn }}</td>
                            <td style="width:8%">
                                <a :href="'https://weblate.sayori.pw/translate/langpack/' + v.mod + '/zh_cn/?q=' + encodeURI(value.key) + '&context=on'">[点击进入]</a>
                            </td>
                        </tr>
                    </template>
                    </template>
                </table>
            </details>
        </div>

        <div class="sub">
            <h2>— 串行检查 —</h2>
            <details id="branch">
                <summary>点击展开，共 {{ branches.length }} 条</summary>
                <table cellspacing="0">
                    <tr>
                        <th style="width:2%">编号</th>
                        <th style="width:8%">模组ID</th>
                        <th style="width:10%">key</th>
                        <th>中文文本</th>
                        <th style="width:8%">Weblate</th>
                    </tr>
                    <tr v-for="(branch, index) in branches">
                        <td style="width:2%">{{ index + 1 }}</td>
                        <td style="width:8%">{{ branch.modid }}</td>
                        <td style="width:10%">{{ branch.key }}</td>
                        <td>{{ branch.zh_cn }}</td>
                        <td style="width:8%">
                            <a :href="'https://weblate.sayori.pw/translate/langpack/' + branch.modid + '/zh_cn/?q=' + encodeURI(branch.key) + '&context=on'">[点击进入]</a>
                        </td>
                    </tr>
                </table>
            </details>
        </div>

        <div class="sub">
            <h2>— 路径检查 —</h2>
            <details id="dir">
                <summary>点击展开，共 {{ dirs.length }} 条</summary>
                <table cellspacing="0" id="dir">
                    <tr>
                        <th style="width:2%">编号</th>
                        <th>路径</th>
                    </tr>
                    <tr v-for="(dir, index) in dirs">
                        <td style="width:2%">{{ index + 1 }}</td>
                        <td>{{ dir }}</td>
                    </tr>
                </table>
            </details>
        </div>

        <div class="sub">
            <h2>— 特定词语检查 —</h2>
            <details id="word">
                <summary>点击展开，共 {{ words.length }} 条</summary>
                <table cellspacing="0">
                    <tr>
                        <th style="width:3%">编号</th>
                        <th style="width:10%">词语</th>
                        <th style="width:8%">模组ID</th>
                        <th>英文文本</th>
                        <th>中文文本</th>
                        <th style="width:8%">Weblate</th>
                    </tr>
                    <template v-for="(value, index) in words">
                    <tr>
                        <td style="width:3%" :rowspan="value.items.length + 1">{{ index + 1 }}</td>
                        <td style="width:10%" :rowspan="value.items.length + 1">{{ value.word }}</td>
                    </tr>
                    <template v-for="(v, i) in value.items">
                        <tr>
                            <td style="width:8%">{{ v.mod }}</td>
                            <td>{{ v.en_us }}</td>
                            <td>{{ v.zh_cn }}</td>
                            <td style="width:8%">
                                <a :href="'https://weblate.sayori.pw/translate/langpack/' + v.mod + '/zh_cn/?q=' + encodeURI(v.key) + '&context=on'">[点击进入]</a>
                            </td>
                        </tr>
                    </template>
                    </template>
                </table>
            </details>
        </div>

    </div>
    <script type="module" src="js/index.js"></script>
</body>

</html>
